<%- include("partials/header") -%>
<main>
    <section>
        <h2>Título do post</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, eius similique. Ducimus corporis voluptatibus facilis ullam illum aliquid fugit quidem obcaecati. Quas facere, repudiandae alias sapiente optio aspernatur at iure?</p>
        <a href="#">Ler mais...</a>
    </section>
</main>
<%- include("partials/footer") -%>