<%- include("partials/header") -%>
<main>
    <% lista.forEach((post)=>{ %>
        <section>
            <h2><%= post.titulo %></h2>
            <p><%= post.paragrafo %></p>
            <a href="#">Ler mais...</a>
        </section>
    <% }) %>
</main>
<%- include("partials/footer") -%>