*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    text-decoration: none;
}
body{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header, footer{
    text-align: center;
    background-color: #332d27;
    color: #fff;
}
header{
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav a{
    color: #fff;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
footer{
    padding: 12px 0;
}
h1{
    font-size: clamp(1.8rem, 7vw, 2.8rem);
}
p{
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}


@media screen and (max-width: 750px){
    header{
        flex-direction: column;
        gap: 0.8rem;
    }
}