*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    text-decoration: none;
}
body{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #cecece;
}
header, footer{
    text-align: center;
    background-color: #332d27;
    color: #fff;
}
header{
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav a{
    color: #fff;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
footer{
    padding: 12px 0;
}
h1{
    font-size: clamp(1.8rem, 7vw, 2.8rem);
}
h2{
    margin-bottom: 8px;
}
p{
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
section{
    background-color: #fff;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.363);
    width: 98vw;
    max-width: 1480px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    word-break: break-all;
}
.fa-trash{
    position: absolute;
    top: 14px;
    right: 14px;
}
/* Cadastro */
form.cadastro{
    width: 98vw;
    max-width: 1860px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
label{
    font-size: clamp(1rem, 2vw, 1.1rem);
    display: inline-block;
    width: 6rem;
}
.campo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
input, textarea{
    width: 100%;
    max-width: 48rem;
}
input{
    height: 2rem;
}
textarea{
    min-height: 18rem;
}
button{
    background-color: transparent;
    margin-top: 0.8rem;
}
.cadastro button{
    background-color: #332d27;
    color: #fff;
    padding: 8px 12px;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 1.06rem);
}

@media screen and (max-width: 750px){
    header{
        flex-direction: column;
        gap: 0.8rem;
    }
    .campo{
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }
}